{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Книжный магазин онлайн{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
       <h1 align="center">Книги в наличии</h1>
    </div>
    <div class="album py-5 bg-light">
        <div class="container mt-5">
            <div class="row">
                {% for product in products %}
                   <div class="col-md-4" align="center">
                       <img src="{{ url_for('products_app.static', filename='images/'+product.image) }}" width="225" height="350"/>
                       <h4>{{ product.price }} руб</h4>
                       <h5><a href="{{ url_for('products_app.current_product_page', product_id=product.id) }}"> {{ product.name }} {{ product.author }}</a></h5>
                   </div>
                {% endfor %}
            </div>
        </div>>
    </div>>
{% endblock %}